.display {
    margin: 0;
    border: hsl(0, 13%, 92%) solid 0.1px;
}

.avatar {
    border-radius: 50%;
    height: 50px;
    margin-top: 30%;
}
i {
    line-height:16px;
font-size:14px;
vertical-align:middle;
}

